.about {
    &_header {
        margin: 0 auto;
        width: 560px;
        text-align: center;
    }
    &_img {
        margin-top: 100px;
        margin-bottom: 80px;
        width: 230px;
        height: 220px;
    }
    &_cards {
        display: flex;
        justify-content: space-between;
        text-align: center;
        flex-wrap: wrap;
        margin-bottom: 60px;
    }
    &_card {
        width: 260px;
        margin: 0px;
    }
}