.descr {
    min-height: 1000px;
    &_wrapper {
        padding-top: 200px;
        display: flex;
        justify-content: flex-end;
    }
    &_item {
        position: relative;
        padding-left: 50px;
        &::before {
            content: '';
            position: absolute;
            display: inline-block;
            left: 0;
            top: 5px;
            background-image: url(../image/descr_item.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: 35px;
            height: 30px;
        }
    }
}